<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="OracleConnectionString" connectionString="Data Source=;Integrated Security=true;User ID=;Password=;" providerName="Oracle.DataAccess" />
      <add name="SQLServerConnectionString" connectionString="Data Source=.;Initial Catalog=Test;IntegratedSecurity=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>